<<<<<<< HEAD
<%= form_for @actor do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Update" %>
  <% end %>
=======
<h1>Edit</h1>

<%= form_for @actor do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
