<<<<<<< HEAD
<h1>actors</h1>

<ul>
  <% @actors.each do |actor| %>
  <li><%= link_to "#{actor.name}", actor %>
  <%= link_to "edit", edit_actor_path(actor) %>
  <%= link_to "delete", actor, method: :delete %>
  </li>

  <% end %>
</ul>

<%= link_to "Add actor", new_actor_path %>


=======
<h1>Actors</h1>

<ul>
  <% @actors.each do |star| %>
  <li><%= link_to star.name, actor_path(star) %></li>
  <% end %>
</ul>

<%= link_to "Add new actor", new_actor_path %>
<br><br>
<%= link_to "Back to home", root_path %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
